{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}ModelREG - {% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{% static "adcssy/build/css/adcssy.min.css" %}">
        <link rel="stylesheet" href="{% static "fontawesome/css/font-awesome.min.css" %}">
    </head>
    <body>
        <nav class="nav-top nav-top--fixed">
            <header class="nav-top-header">
                <button class="nav-toggle nav-top-toggle" onclick="this.parentNode.parentNode.classList.toggle('nav-top--expand')">
                    <span class="nav-toggle-icon"></span>
                </button>
                <a href="#">
                    <div class="nav-top-header-logo"></div>
                    <div class="nav-top-header-title">ModelREG</div>
                </a>
            </header>
            <section class="nav-top-body">
                <ul class="nav-top-list">
                    <li class="nav-top-list-item">
                        <a href="{% url 'found_info' %}">
                            <i class="fa fa-power-off"></i>
                            {% trans "Found an airplane, drone, multicopter?" %}
                        </a>
                    </li>
                    <li class="nav-top-list-item">
                        <a href="">
                            <i class="fa fa-users"></i>
                            {% trans "About" %}
                        </a>
                    </li>
                </ul>
                {% include 'personal_nav.html' %}
            </section>
        </nav>
        {%block page %}
        <div class="page">
            <main class="page-main" style="background: #bbb">

            <section class="page-content ">
                <section class="page-content-main">
                    {% block content-main %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    {% endblock %}
                </section>
                <footer class="page-content-footer">
                    {% block footer %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    {% endblock %}
                </footer>
            </section>
            </main>
        </div>
        {% endblock %}
    </body>
</html>
