{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }}{% trans "RC Model found" %}{% endblock %}
{% block content-header %}{% trans "RC Model found" %}{% endblock %}
{% block content-main %}
    <div class="bs-callout bs-callout-warning">
        <h4>{% trans "Why am I here?" %}</h4>
        <p>{%trans "You just found a RC model from a pilot registered on ModelREG." %}</p>
        <p>{%trans "You can now contact the owner and inform him about damage he has caused or just that you would like to return his model." %}</p>
        <p>{%trans "Dont know what RC models are? Read more about it " %}<a href="https://en.wikipedia.org/wiki/Radio-controlled_model">{%trans "here!" %}</a></p>
    </div>
    {% if public_profile.public_info %}
    <div class="bs-callout bs-callout-info">
        <h4>{% trans "Here's some words from the owner" %}</h4>
        <p>{{ public_profile.public_info|linebreaksbr }}</p>
    </div>
    {% endif %}

    <form method="POST" class="">
        {% csrf_token %}

        <div class="form-group">
            <select class="form-control" name="damage_type" required>
                <option selected disabled>{% trans "Please select whether the model has caused any damage (personal, property, or otherwise)" %}</option>
                <option value="no_damage">{% trans "No damage" %}</option>
                <option value="property_damage">{% trans "Property damage" %}</option>
                <option value="injury">{% trans "Injury" %}</option>
                <option value="otherwise">{% trans "Otherwise" %}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="message">{% trans "Message to the Owner" %}</label>
            <textarea id="message"
                      placeholder="{% trans "You can send a message to the owner here. Let them know that you have their model, and they will be able to respond." %}"
                      cols="50"
                      name="message"
                      rows="5" class="form-control"></textarea>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4>{% trans "Why do you need my email address?" %}</h4>
            <p>
            {% blocktrans %}
            We will send you an email so you can get back to this if there are any problems - for example if the owner
            does not respond or you can't agree with them over damages or other issues.
            {% endblocktrans %}
            </p>
        </div>

        <div class="form-group">
            <label for="email">{% trans "Email address" %}</label>
            <input required id="email" type="email" class="form-control" name="finder_email"
                                                                         placeholder="{% trans "Enter your email address" %}">
        </div>

        <div class="form-group">
            <label for="email2">{% trans "Confirm email address" %}</label>
            <input required id="email2" type="email2" class="form-control" name="finder_email2"
                                                                           placeholder="{% trans "Enter your email address" %}">
        </div>

        <button type="submit" class="btn btn-primary">{% trans "Send message" %}</button>
    </form>
{% endblock %}
