{% extends "base.html" %}
{% block title %}Model found{% endblock %}
{% load i18n %}

{% block content-main %}
    <h3>{% trans "RC Model found" %}</h3>
    <div class="card card--inverse">
        <div class="card-block">
            <h3 class="card-title">{% trans "So you found an RC model? Here's some words from the owner" %}</h3>
            <p class="card-text">{{public_profile.public_info|linebreaksbr}}</p>
        </div>
    </div>

    <div class="grid grid--row">
        <div class="grid-cell">
            <form method="POST">
                {%csrf_token%}
                <div class="form-group">

                    <div class="radio">
                        <input id="no_damage" name="damage_type" type="radio">
                        <label for="no_damage" name="damage_type">{% trans "No damage" %}</label>

                        <input id="property_damage" name="damage_type" type="radio">
                        <label for="property_damage" name="damage_type">{% trans "Property damage" %}</label>

                        <input id="injury" name="damage_type" type="radio">
                        <label for="injury" name="damage_type">{% trans "Injury" %}</label>
                    </div>

                    <textarea placeholder="{% trans "What would you like to tell the rc model owner?" %}"
                              cols="50"
                              name="message"
                              rows="2"></textarea>

                    <input type="email" class="form-control" name="finder_email"
                           placeholder="{% trans "Enter email address" %}">

                    <input type="email2" class="form-control" name="finder_email2"
                           placeholder="{% trans "Confirm email address" %}">


                    <button type="submit" class="btn btn-default">{% trans "Send message" %}</button>
                </div>
            </form>
        </div>
        <div class="grid-cell">
            <p>
            {% blocktrans %}
            Note: You will receive an email with further information once you submit this form.
            There, you may talk to the owner further, or escalate the case to the administrators
            of this site if the owner does not comply with your request.
            {% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}
                You can send a message to the owner
                here. Please select whether the model
                has caused any damage (personal,
                property, or otherwise) in the menu.

                Let them know that you have their model,
                and they will be able to respond.

                We will send you an email so you can
                get back to this if there are any
                problems - for example if the owner
                does not respond or you can't agree
                with them over damages or other
                issues.
            {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}
