{% extends "base.html" %}
{% load i18n %}
{% block title %}{{block.super}}{% trans "RC Model found" %}{% endblock %}
{% block content-header %}{% trans "RC Model found" %}{% endblock %}
{% block content-main %}
    <div class="grid grid--row">
        <div class="grid-cell">
            {% blocktrans %}
            If you found a model, please scan the QR code on your mobile
            phone to contact the owner.

            (TODO: Insert Picture...)
            {% endblocktrans %}
        </div>
    </div>
{% endblock %}
