{% extends "base.html" %}
{% load i18n %}
{% block title %}{{block.super}}{% trans "Welcome to ModelReg" %}{% endblock %}
{% block content-header %}{% trans "Welcome to ModelReg" %}{% endblock %}
{% block content-main %}
<div class='cover'>
    <div class='inner-cover'>
    <p class='lead'>
    {% blocktrans %}
    This site is a service to register RC model pilots and let you contact them if a model is lost.
    {% endblocktrans %}
    </p>

    <h3>{% trans "How it works" %}</h3>
    {% blocktrans %}
    <p class='lead'>Registered pilots which verified their address via letter will receive a
    <a href="https://en.wikipedia.org/wiki/QR_code" target="_blank">QR-Code</a></p>
    {% endblocktrans %}
    </div>
</div>
{% endblock %}
