{% extends "base.html" %}
{% load i18n %}
{% block title %}{{block.super}}{% trans "Welcome to ModelReg" %}{% endblock %}
{% block content-header %}{% trans "Welcome to ModelReg" %}{% endblock %}
{% block content-main %}
    {% blocktrans %}
    This site is a service to register RC model pilots and let you contact them if a model is lost.
    {% endblocktrans %}

    <h3>{% trans "How it works" %}</h3>
    {% blocktrans %}
    Registered pilots which verified their address via letter, receive a
    <a href="https://en.wikipedia.org/wiki/QR_code" target="_blank">QR-Code</a>
    {% endblocktrans %}
{% endblock %}
