{% extends "messaging_base.html" %}
{% load i18n %}
{% block title %}{{block.super}}{% trans "Finder messaging" %}{% endblock %}
{% block content-header %}{% trans "Finder messaging" %}{% endblock %}
{% block messaging_options %}
    {% blocktrans %}
        You can talk to the model's owner right on
        this page. If there are problems, use the
        functionality right hand.

        Please note that ModelREG is not
        responsible for any damages the model
        has caused. Try to talk to the owner, or
        let us know if the owner does not
        cooperate, then we will take it further.
    {% endblocktrans %}
    <form>
        <div class="form-group">
            <button type="submit" class="btn btn-default">{% trans "Owner does not want to pay for damage" %}</button>
            <button type="submit" class="btn btn-default">{% trans "Case closed, all good" %}</button>
            <button type="submit" class="btn btn-default">{% trans "Help, owner did not reply" %}</button>
            <button type="submit" class="btn btn-default">{% trans "Export conversation as PDF" %}</button>
        </div>
    </form>
{% endblock %}

{% block message-list %}
    {% for msg in messages %}
    <div class="card case-message bubble {% if msg.from_owner %}owner left{%else%}finder right{%endif%}">
        <div class="card-block">
            <h4 class="card-title">{% if msg.from_owner %}{% trans 'Owner' %}{%else%}{% trans 'You' %}{%endif%}
                <span class="timestamp">{{msg.timestamp}}</span>
            </h4>
        </div>
        <div class="card-block">
            <p class="card-text">{{msg.message|linebreaksbr}}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
