{% extends "base.html" %}
{% load i18n %}

{% block content-main %}
    <h3>{% trans "RC Model found" %}</h3>
    <div class="grid grid--row">
    <div class="grid-cell">
        {% for message in messages %}
            message block ... no clue what CSS element to use and display
            {{ message.message }}, {{ message.sender }}

        {% endfor %}
        <form>
            <div class="form-group">
                <textarea placeholder="{% trans "What would you like to say?" %}" cols="50"
                          rows="2"></textarea>

                <button type="submit" class="btn btn-default">{% trans "Send message" %}</button>
            </div>
        </form>
    </div>
    <div class="grid-cell">
        {% block messaging_options %}
            </div>
        {% endblock %}
{% endblock %}
