{% extends "base.html" %}
{% load i18n %}
{% block title %}{{block.super}}{% trans "RC Model found" %}{% endblock %}
{% block content-header %}{% trans "RC Model found" %}{% endblock %}
{% block content-main %}
<div class="container">
    <div class="row">
    <div class="col-md-9 chat-pane">
        {% block message-list %}
        {% endblock %}

        <form method="POST" class="new-message">
            {%csrf_token%}
            <input type="hidden" name="action" value="message">
            <textarea class="bubble right new-message-text"
                      name="message"
                      placeholder="{% trans "What would you like to say?" %}"
                      ></textarea>
            <button type="submit" class="btn btn-primary">{% trans "Send message" %}</button>
        </form>
    </div>
    <div class="col-md-3 chat-sidebar">
        {% block messaging_options %}
        {% endblock %}
    </div>
</div>
{% endblock %}
