{% load static %}
{% load i18n %}
<ul class="nav-top-list nav-top-list--right">
    {% if request.user.is_authenticated %}
        <li class="nav-top-list-item">
            <a href="{% url "profile" %}">
                <i class="fa fa-user"></i>
                {% trans "Profile" %}
            </a>
        </li>
        <li class="nav-top-list-item">
            <a href="{% url "logout" %}">
                <i class="fa fa-sign-out"></i>
                {% trans "Logout" %}
            </a>
        </li>
    {% else %}
        <li class="nav-top-list-item">
            <a href="{% url "registration_register" %}">
                <i class="fa fa-envelope"></i>
                {% trans "Register" %}
            </a>
        </li>
        <li class="nav-top-list-item">
            <a href="{% url "auth_login" %}">
                <i class="fa fa-power-off"></i>
                {% trans "Login" %}
            </a>
        </li>
    {% endif %}
</ul>
