html {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    height: 60px;
    background-color: #1e1e1e;
    color: #969696;
}

.footer .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-message {
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
}

.card-title .timestamp {
    font-size: 0.7em;
    font-weight: normal;
}

.cover {
    display: flex;
}

.inner-cover {
    flex-direction: column;
    align-items: center;
}

.registration input {
    display: block;
    margin-bottom: -0.5em;
    width: 80%;

}

.registration label {
    display: block;
    width: 300px;
    margin-bottom: -0.1em;
}

.registration .helptext {
    display: block;
    color: #999;
    margin-top: -0.5em;
    margin-bottom: 1.5em;
}

.registration .errorlist {
    display: block;
    background-color: #ffd999;
    border: 1px solid #ffc14d;
    border-radius: 3px;
    width: 80%;
}

.registration  input:last-child() {
    width: 30%;
}


.case-message {
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 1em;
    position: relative;
}


.bubble.right:after {
    content: '';
    position: absolute;
    right: 0;
    top: 60%;
    width: 0;
    height: 0;
    border: 1.563em solid transparent;
    border-left-color: inherit;
    border-right: 0;
    border-bottom: 0;
    margin-top: -0.781em;
    margin-right: -1.562em;
}

.bubble {
    position: relative;
    border-radius: 1em;
}
.bubble.right {
    margin-left: 10em;
    margin-right: 2em;
}

.bubble.left {
    margin-right: 10em;
    margin-left: 2em;
}

.bubble.left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 60%;
    width: 0;
    height: 0;
    border: 1.563em solid transparent;
    border-right-color: inherit;
    border-left: 0;
    border-bottom: 0;
    margin-top: -0.781em;
    margin-left: -1.562em;
}

.bubble.owner {
    border-color: red;
}

.bubble.finder {
    border-color: green;
}

.case-message.finder .card-block:nth-child(1):before {
    position: absolute;
    top: 0.5em;
    left: 2em;
    font-family: FontAwesome;
    content: "\f007";

}

.case-message.owner .card-block:nth-child(1):before {
    position: absolute;
    top: 0.5em;
    left: 2em;
    font-family: FontAwesome;
    content: "\f1d8";
}

.new-message-text {
    padding: 0.6em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-right: 2em;
    margin-left: 10em;
    height: 10em;
    width: 80%;
    margin-bottom: 1em;
}

.for-admin {
    background-color: #ffeeee;
}

.note-admin-only {
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: #ffaaaa;
    padding-left: 0.5em;
}

.new-message button {
    float: right;
    display: block;
    margin-right: 2em;
}

.chat-pane {
    border-right: 1px solid #eee;
}
.chat-sidebar {
}


a.navbar-brand {
    background-image: url("/static/images/logo_modelreg_v2.svg");
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: 0px 1px;
    padding-left: 58px;
}
